/* font family */
*{
    margin: 0;
    padding: 0;
}
body{
  font-family: "Mulish", sans-serif; 
}

/* header start here */

header{
    padding: 3% 5%;
}
nav{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

nav .navbar-left{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 1em;
}

nav .navbar-left h4{
    font-size: 2em;
}

nav .navbar-left span{
    color: #FF5400;
}

nav .navbar-right{
    display: flex;
    list-style: none;
    text-align: center;
    gap: 2em;
}
.navbar-right-home ul{
    display: flex;
    list-style: none;
    text-align: center;
    gap: 2em;
}

.navbar-right .icon{
    display: none;
}

.banner{
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    margin-top: 20px;
    height: 90vh;
    
}



.banner  h2{
    padding-top: 10%;
    font-size: 3.5em;
    color: rgb(255, 255, 255);
    font-weight: 800;
    text-align: center;
}

.banner p{
    padding: 2% 25%;
    color: white;
}

.banner input{
    height: 45px;
    border-radius: 10px;
    padding-left: 15px;
    border: none;
}

  .btn{
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background-color: #FF5400;
    border: none;
    margin-top: 5%;
    transition: background-color .2s linear .1s, border .1s linear .1s, box-shadow ;
 }

 .btn:hover{
    background-color: darkviolet;
    border: 2.5px solid white;
 }
  .btn a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2em;
 }


.popular-tours{
    padding: 2% 5%;
    display: flex;
}

.popular-tours-text{
    padding-right: 10%;
}

.popular-tours-text h3{
    font-size: 2em;
    font-weight: 800;
}
.popular-tours-text p{
    padding-top: 20px;
    font-size: 1em;
    line-height: 26px;
}

.popular-tours-img img{

}

.your-destination{
    text-align: center;
    padding: 5% 5%;
}
.your-destination h2, .why-us-title h2, .deals-title h2{
    font-size: 2em;
    /* margin-bottom: 5px; */
    font-weight: 800;
}

.your-destination p,.why-us-title p, .deals-title p{
    padding: 0 30%;
    margin-bottom: 2%;
}

.your-destination-images{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 3%;
    
}
.your-destination-images img{
    margin-right: 2%;
}

.row1 .img-box{
    position: relative;
    display: inline;
}

.why-us{
    padding: 0 5%;
    
}
.why-us-title{
    text-align: center;
}

.features-first{
    display: flex;
    gap: 5%;
    margin: 5% 0 ;
}
.features-first div, .features-second{
    background-color: antiquewhite;
    padding: 2% 3%;
    border-radius: 10px;
}
.features-first div i, h2,.features-second div i, h2{
    padding-bottom: 2%;
}
.features-first i, .features-second i{
    font-size: 30px;
}
.features-second{
    margin: 0 25%;
}

/* deals start here */

.deals{
    padding: 5% 5%;
}
.deals-title{
    text-align: center;
}


.deals-details-one{
    width: 100%;
    height: 450px;
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 5%;
    border-radius: 10px;
}

.details-main{
    background-color: rgba(180, 183, 203, 0.909);
    float: right;
    margin-right: 5%;
    margin-top: 5%;
    border-radius: 10px;
    width: 40%;
    height: 60%;
    padding: 2% 3%;
}

.details-icons{
    display: flex;
    gap: 10%;
}

.details-icons .day, .number, .country{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 5%;
}
.details-icons i{
    color: #FF5400;
}
.details-price{
    color: #FF5400;
    padding: 4% 0;
    font-weight: 900;
}

.details-text{
    
}
.details-text h3{
    font-size: 1.4em;
    font-weight: 800;
    padding-bottom: 3%;
}
.details-main .btn{
    margin-top: 0;
}

.deals-details-two{
    width: 100%;
    height: 450px;
    background-image: url(Images/Group\ 40.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 5%;
    border-radius: 10px;
}

.deals-details-three{
    width: 100%;
    height: 450px;
    background-image: url(Images/Group\ 39.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 2%;
    border-radius: 10px;
}
.deals-details-two .details-main{
    float: left;
    margin-left: 5%;
}
.deals-details-three .details-main{
    float: right;
    margin-right: 5%;
}

.packages-btn {
    padding-bottom: 5%;
    padding-top: 0;
    text-align: center;
    margin-top: 0;
}
.packages-btn  .btn{
    margin-top: 0;
}
.get-lost-parent{
    display: flex;
}
.get-lost-text{
    padding-right: 12%;
}
.get-lost-text p{
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1.1em;
}
.get-lost-text p li{
    font-size: 1.1em;
    font-weight: 800;
}
.get-lost-text h3{
    font-size: 2em;
    font-weight: 800;
    padding-bottom: 2%;
    
}


.newsletter{
    padding-top: 5%;
    display: flex;
    justify-content: space-between;
}
.newsletter-text h4{
    font-size: 1.3em;
    padding-bottom: 4%;
}
.newsletter-text p{
    padding-bottom: 5%;
}
.newsletter-text-input{
    display: flex;
    flex-direction: column;
    
}
.newsletter-text-input input{
    height: 50px;
    padding-left: 5%;
    
    margin-top: 5%;
    border-radius: 10px;
}

footer{
    text-align: center;
    padding: 3% 20%;
}
footer p{
    padding: 1% 25%;
}
.footer-icons i{
    padding-top: 3%;
    padding-right: 2%;
    padding-bottom: 3%;
}


 /* responsive stert */

 @media screen and (max-width:767px) {
    nav .navbar-left{
        gap: 0.2em;
    }
    
    nav .navbar-left h4{
        font-size: 1em;
    }

    .navbar-right{
        display: flex;
        flex-direction: column;
    }

    .navbar-right-home {
       display: none;
    }

    .navbar-right .icon{
        display: block;
        color: black;
    }

    .banner{
        width: 100%;
        height: 75vh;
        background-size: cover;
        background-position: center;
        text-align: center;
    }
    .banner h2{
        
        font-size: 2.5em;
    }
    .banner p{
        font-size: 0.8em;
        
        text-align: center;
        /* padding: 5% 2%; */
        padding: 3% 6%;
    }
    .banner-text{
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
    }
    .banner input{
        margin-bottom: 15px;
    }
    .banner .btn{
        width: 100%;
        border-radius: 10px;
    } 

    .popular-tours{
        flex-direction: column;
        text-align: center;
        padding-right: 0;
        padding: 0;
    }
    .popular-tours-text{
        padding: 5%;
    }
    .popular-tours-img img{
        width: 90%;
    }
    .btn{
        width: 20%;
        margin-bottom: 5%;
        height: 2em;
    }
    .btn a{
        font-size: 1em;
    }
    .your-destination p{
        padding: 0 2%;
        margin-bottom: 3%;
    }
    .your-destination-images{
        display: flex;
        flex-direction: column;
        
    }
    .your-destination-images img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
        margin-bottom: 5%;
    }

    .features-first{
        flex-direction: column;
        
    }
    .features-first :nth-child(1){
        margin-bottom: 5%;
    }
    .features-second {
        margin:  0;
    }

    .why-us-title p{
        padding: 0 10%;
    }

    .deals-title p{
        padding: 2% 0;
    }
    .deals{
        position: relative;
    }

    .details-main{
        width: 90%;
        text-align: center;
        height: 60%;
        margin-top: 25%;
        padding: 0;
        padding-top: 3%;
    }
    .details-icons{
        justify-content: center;
        gap: 5%;
    }

    footer{
        padding: 1% 15%;
    }
    footer p{
        font-size: 0.8em;
        padding: 0 ;
    }

    .packages-btn .btn{
        width: 30%;
    }
 }